<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Manage Genres</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid text-center">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">My Library</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/books}">Manage Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/genres}">Manage Genres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/genre/new}">Add New Genre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div><h2>Manage Genres</h2></div>

  <div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
  </div>


  <div>
    <table class="table table-striped table-dark">
      <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="genre : ${listGenres}">
        <tr>
          <td>[[${genre.id}]]</td>
          <td>[[${genre.name}]]</td>
          <td>
            <a class="h4 mr-3" th:href="@{'/genre/edit/'+${genre.id}}">Edit</a>
            <a class="h4" th:href="@{'/genre/delete/'+${genre.id}}">Delete</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>