<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>[[${pageTitle}]]</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">My Library</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/books}">Manage Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  th:href="@{/genres}">Manage Genres</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="text-center"><h1>[[${pageTitle}]]</h1></div>

  <form th:action="@{/genre/save}" method="post" th:object="${genre}"
        style="max-width: 600px; margin: 0 auto;">
    <input type="hidden" th:field="*{id}">
    <div class="border border-secondary rounded p-3">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Name:</label>
        <div class="col-sm-8">
          <input type="text" th:field="*{name}" class="form-control" required minlength="2" maxlength="150"/>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary m-2">Save</button>
        <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
      </div>
    </div>
  </form>

</div>
<script type="text/javascript">
  function cancelForm() {
    window.location = "[[@{/genres}]]"
  }
</script>
</body>
</html>