<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome to My Library</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid text-center">
    <h1>Welcome to My Library</h1>
    <a class="h2" th:href="@{/books}">Manage Books</a>
</div>
<div class="bg-image" style="background-image: url('https://user-images.githubusercontent.com/84538553/135438602-9973133a-c5d9-42ba-b285-4de8c4ce7c9c.jpg'); height: 100vh;">

</div>
</body>
</html>